<div class="container-fluid h-100">
  <div class="row d-flex justify-content-center text-center d-inline">
    <div class="col-5">
      <div class="logo mt-5 pt-5 pb-5">
        <h3 id="title">
          <span id="tour">Tour</span><span id="vault">Vault</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pt-5">
    <div class="col box shadow">
      <div *ngIf="isLoading">
        <div class="text-center">
          <h2>Registrazione avvenuta con successo!</h2>
          <p>Verrai reindirizzato al login...</p>
        </div>
      </div>
      <form *ngIf="!isLoading">
        <h1 class="h3 my-3 fw-normal text-center card-text">Registrati qui!</h1>
        <div class="row d-flex flex-column align-items-center">
          <div class="col-12 col-md-4">
            <input
              type="text"
              class="form-control my-2"
              name="name"
              placeholder="Inserisci nome..."
              required
              [(ngModel)]="newUser.name"
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              type="text"
              class="form-control my-2"
              name="lastname"
              placeholder="Inserisci cognome..."
              required
              [(ngModel)]="newUser.lastname"
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              type="text"
              class="form-control my-2"
              name="username"
              placeholder="Inserisci il tuo username..."
              required
              [(ngModel)]="newUser.username"
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              type="email"
              class="form-control my-2"
              name="email"
              placeholder="Inserisci la tua email..."
              required
              [(ngModel)]="newUser.email"
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              type="password"
              class="form-control my-2"
              name="password"
              placeholder="Inserisci password..."
              required
              [(ngModel)]="newUser.password"
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              type="text"
              class="form-control my-2"
              name="phone-number"
              placeholder="Inserisci il tuo numero di telefono..."
              required
              [(ngModel)]="newUser.telefono"
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              type="text"
              class="form-control my-2"
              name="citta-residenza"
              placeholder="Inserisci città..."
              required
              [(ngModel)]="newUser.cittaResidenza"
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              type="text"
              class="form-control my-2"
              name="address"
              placeholder="Inserisci il tuo indirizzo..."
              required
              [(ngModel)]="newUser.indirizzo"
            />
          </div>
        </div>
        <div class="p-3 text-center">
          <button class="authbtn btn" (click)="register()">
            Invia Registrazione
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
