<nav class="navbar">
  <div class="container-fluid">
    <div>
      <a id="title" class="navbar-brand" [routerLink]="['/dashboard']">
        <span id="tour">Tour</span><span id="vault">Vault</span>
      </a>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Benvenuti a TourVault</h1>
      <p>La Tua Soluzione per il Deposito Bagagli a Napoli!</p>
      <p>
        TourVault è la tua risposta per sbarazzarti del peso dei bagagli mentre
        esplori Napoli. Abbiamo creato questa app per rendere il tuo viaggio più
        leggero e conveniente, permettendoti di prenotare locker sicuri per i
        tuoi bagagli presso le principali stazioni ferroviarie, aeroporti e
        stazioni della metropolitana di Napoli.
      </p>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Come Funziona</h2>
      <ol>
        <li>Scarica l'App</li>
        <li>Crea il Tuo Account</li>
        <li>Seleziona un Locker</li>
        <li>Effettua la Prenotazione</li>
        <li>Deposita i Tuoi Bagagli</li>
        <li>Pagamento Sicuro</li>
        <li>Ritira i Tuoi Bagagli</li>
      </ol>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Perché Scegliere TourVault</h2>
      <ul>
        <li>Sicurezza</li>
        <li>Convenienza</li>
        <li>Flessibilità</li>
        <li>Assistenza Clienti</li>
        <li>Tracciabilità</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        Con TourVault, puoi esplorare Napoli a mani libere. Scarica l'app oggi e
        inizia a viaggiare in modo più leggero!
      </p>
    </div>
  </div>
</div>
