<nav class="navbar" *ngIf="user">
  <div class="container-fluid">
    <div>
      <a id="title" class="navbar-brand" [routerLink]="['/dashboard']">
        <span id="tour">Tour</span><span id="vault">Vault</span>
      </a>
    </div>
    <div id="nav-btns">
      <ul class="navbar-nav d-flex flex-row justify-content-lg-end">
        <li class="nav-item me-3">
          <button class="btn nav-btn">?</button>
        </li>
        <li class="nav-item me-3">
          <button
            class="btn nav-btn"
            [routerLink]="['/dashboard', 'areautente', user.id]"
          >
            Area Utente
          </button>
        </li>
        <li class="nav-item">
          <button class="btn nav-btn" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  *ngIf="gruppoLocker && !loading"
  class="container-fluid main-container py-5"
>
  <h2 class="text-center">Locker nel Gruppo: {{ gruppoLocker.nome }}</h2>
  <div class="row justify-content-center mt-3" *ngIf="togglePrenotazione">
    <div class="col-12 col-md-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Effettua Prenotazione per
            {{ lockerPrenotazione.codiceIdentificativo }}
          </h5>
          <form (submit)="inviaPrenotazione()">
            <div class="form-group">
              <label for="descrizioneDeposito">Descrizione Deposito</label>
              <textarea
                class="form-control"
                id="descrizioneDeposito"
                rows="4"
                name="descrizione"
                placeholder="Inserisci la descrizione del deposito"
                [(ngModel)]="descrizione"
                name="descrizione"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn page-btn my-3">
              Effettua Prenotazione
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="!loading">
    <div class="col-12 col-md-7">
      <ul class="list-group mt-5">
        <li class="list-group-item" *ngFor="let locker of gruppoLocker.locker">
          <div class="row justify-content-between">
            <div class="col-md-6">
              <p>
                <strong>Codice Identificativo:</strong>
                {{ locker.codiceIdentificativo }}
              </p>
              <p><strong>Stato:</strong> {{ locker.stato }}</p>
              <p><strong>Tipo:</strong> {{ locker.tipo }}</p>
            </div>
            <div
              class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center"
            >
              <button class="btn page-btn my-3" (click)="showLocker(locker.id)">
                Prenota locker
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="loading" class="spinner mt-5 text-center">
  <div class="spinner-grow spinner-grow-md text-primary px-3"></div>
  <div>
    <p class="text-primary fs-4">
      <b>Prenotazione effettuata con successo!</b>
    </p>
    <p class="text-primary fs-4">
      <b>Troverai il tuo ticket nella tua area riservata</b>
    </p>
  </div>
</div>
