@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.spinner-container p {
  margin-top: 1rem;
}

// stili nav
.navbar {
  background-color: rgb(13, 75, 145);
}

#tour {
  color: rgba(139, 223, 30, 0.877);
}

#vault {
  color: rgba(255, 171, 62, 0.945);
}

#title {
  font-family: "Tenor Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3em;
}

.nav-btn {
  background-color: rgba(253, 157, 30, 0.945);
  color: white;
}

.nav-btn:hover {
  background-color: rgba(173, 101, 7, 0.945);
}

.card-header {
  background-color: rgb(13, 75, 145);
  color: rgba(253, 157, 30, 0.945);
  font-family: "Tenor Sans", sans-serif;
}

.blue-btn {
  background-color: rgb(13, 75, 145);
  color: white;
}

.blue-btn:hover {
  background-color: rgb(44, 75, 110);
}

.orange-btn {
  background-color: rgba(253, 157, 30, 0.945);
  color: white;
}
