@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

.dashcard {
  width: 1000px;
}

.navbar {
  background-color: rgb(13, 75, 145);
}

#tour {
  color: rgba(139, 223, 30, 0.877);
}

#vault {
  color: rgba(255, 171, 62, 0.945);
}

#title {
  font-family: "Tenor Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3em;
}

.nav-btn {
  background-color: rgba(253, 157, 30, 0.945);
  color: white;
}
